@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="indicator">topbar</a>
        </div>

        <article class="content px-4">
            <a class="indicator">content</a>
            @Body
        </article>
    </main>
</div>
