@inherits LayoutComponentBase

<div class="page grid">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>

        <article class="content px-4">
            <a class="indicator">content</a>
            
        </article>
    -->

    <div class="logo">mostghoste</div>
    <div class="topbar">topbar</div>
    <div class="sidebar"><NavMenu /></div>
    <div class="content">@Body</div>
</div>
