@page "/"

<PageTitle>Index</PageTitle>

<h1>Hey, welcome to mostghoste's page.</h1>
<h1>This is still <em>very</em> work in progress, so don't be too surprised if everything breaks.</h1>
<h1>Now go ahead and explore!</h1>
