@page "/jackpot"

<div class="SelectionScreen">
    <table class="container">
        <tr>
            <td valign="top">
                <div id="main"></div>
            </td>
        </tr>
        <tr>
            <td valign="bottom">
                <div id="footer">
                    <button class="btn">Gamble my future!</button>
                    <button class="btn">Gamble my future!</button>
                    <button class="btn">Gamble my future!</button>
                </div>
            </td>
        </tr>
    </table>
</div>